<div class="row">
  <div class="card job-posting col-md-12 col-sm-12 ">
    <div class="card-block text-xs-center text-md-left">
      <a class="collapsed" data-toggle="collapse" href="#post-{{posting.id}}" aria-expanded="false">
        <i class="fa fa-3x fa-border fa-plus"></i>
        <h1 class="card-title">{{posting.title}}</h1>
        {{#if posting.isPaid}}
        <span class="tag tag-success">Paid Position</span>
        {{/if}}
      </a>
      <div class="card-text">
        {{markdown-to-html posting.description}}
      </div>
    </div>
    <div class="collapse" id="post-{{posting.id}}">
      <div class="card-block">
        <h2>Responsibilities:</h2>
        {{markdown-to-html class="card-text" markdown=posting.responsibilities}}
      </div>
      <div class="card-block">
        <h2>Requirements:</h2>
        {{markdown-to-html class="card-text" markdown=posting.requirements}}
      </div>
      <div class="card-block">
        <h2>How to Apply:</h2>
        {{markdown-to-html class="card-text" markdown=posting.apply}}
      </div>
    </div>
  </div>
</div>
